.subscribe-button{
        background-color: rgb(239, 22, 22);
        color:white;
        cursor: pointer;
        font-size: 15px;
        border-radius: 3px;
        transition:box-shadow 0.2s;
        border: none;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;

    }
    .subscribe-button:hover {
        background-color: rgb(201, 84, 84);
        opacity: 0.8;
        box-shadow:8px 6px 15px rgba(0, 0, 0, 0.3);
    }
    .subscribe-button:active{
        opacity:0.7;
        transition: background-color 0.3s;

    }
    .join-button{
        color: rgb(6, 95, 212);
       padding-bottom: 9px;
        padding-top: 9px;
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;
        border-width: 1px;
        border-color: rgb(6, 95, 212);
        border-radius: 2px;
        transition: color 0.2s, background-color 0.15s,hover 0.3s;
        margin-right: 8px;

    }
    .join-button:hover {
        background-color: rgb(6, 95, 212) ;
        color: white;

        
    }

    .join-button:active{
        opacity: 0.6;
    }

    .tweet-button{
        color: white;
        background-color: rgb(29, 155, 240);
        font-size: 14px;
        border: none;
        border-radius: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 18px;
    }

    .tweet-button:hover{
        box-shadow: 6px 5px 6px rgba(0, 0, 0, 0.3);
    }
    .tweet-button:active{
        opacity: 0.7;
    }