p{
        font-family: Arial;


    }
    .video-title {
        font-size: 18px;
        font-weight: bold;
        width: 300px;
        line-height: 24px;
        margin-bottom: 4px;
    }
    .video-stats {
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-top: 0px;
    }
    .channel-name {
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .video-description {
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-top: 0px;
        width: 290px;
        line-height: 20px;
        margin-bottom: 100px;
    }
    .apple-text {
        font-size: 14px;
        color: white;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: rgb(227, 65, 64);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .shop-text:hover {

        text-decoration:underline;
        cursor: pointer;

    }